<!DOCTYPE html>
<html>

<head>
<title>Get Me There Index</title>
<link rel="stylesheet" href="bootstrap.min.css">

<style>
      #map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      };
    </style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- <script src="geolib.min.js"></script> -->
<script>


  
		navigator.geolocation.getCurrentPosition(function(map){
			
			function initialize() {
		        var mapCanvas = document.getElementById('map');
		        var mapOptions = {
		          center: new google.maps.LatLng(location.latitude, location.longitude),
		          zoom: 8,
		          mapTypeId: google.maps.MapTypeId.ROADMAP
		        }
		        var map = new google.maps.Map(mapCanvas, mapOptions)
		      }
		      google.maps.event.addDomListener(window, 'load', initialize);

		  });

	



</script>





</head>

<body>

<div class="col-md-10 col-xs-12 bg-success">
	<div class="container">
		<form id="Search-form">
			<h2>Let's Get You There ...</h2>  
			  	<div class="form-group">
			    	<input type="text" placeholder="Search Destination">
			  	</div>
			  		
			  		<input id="button" type="submit" class="btn btn-success"> </button><button id= "button" class="btn btn-success">show-location</button><br>
			  		<!-- AIzaSyBUShAf4_XN-AmTNBEGiOio9mHvwTFgRGo  -->
			  		<div id="map"></div>
			  		
					<button id="button" type="submit" class="btn btn-success">Show More Ranks</button>
		
		</form>
	</div>
</div>


	
<div class="col-md-2 col-xs-12 bg-primary">
	<div class="container">
		<h2>Ranks Near</h2>
			<div id="ranks-near">
			  <h4>Cape Town Rank</h4>
			  <h4>Woodstock</h4>
			  <h4>Mowbray</h4>
			</div>
	</div>
</div>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>

<script>

// function initialize() {
//         var mapCanvas = document.getElementById('map');
//         var mapOptions = {
//           center: new google.maps.LatLng(44.5403, -78.5463),
//           zoom: 8,
//           mapTypeId: google.maps.MapTypeId.ROADMAP
//         }
//         var map = new google.maps.Map(mapCanvas, mapOptions)
//       }
//       google.maps.event.addDomListener(window, 'load', initialize);

	



</script>



</body>
</html>
