<!DOCTYPE html>
<html>

<head>
<title>Get Me There Index</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style>
     html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
      	width: 100%;
        height: 400px;
      }
</style>
 
   <script type="text/javascript">
   		navigator.geolocation.getCurrentPosition(function(location){
			//alert('!!');
			document.getElementById('latitude').innerHTML = location.coords.latitude;
			document.getElementById('longitude').innerHTML = location.coords.longitude;
			var myLatLng = {
			  					lat: parseFloat(document.getElementById('latitude').innerHTML),
			  					lng: parseFloat(document.getElementById('longitude').innerHTML)
			  				 };
			  //alert(JSON.stringify(myLatLng))
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 15,
			    center: myLatLng
			  });

			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
		});
   </script> 

</head>

<body>
<div class='container'>
	<div id="row">

		<div class="col-xs-8  bg-success">
			<form id="Search-form">
				<div class="col-xs-12">
					<h2>Let's Get You There ...</h2>  
					<p style='display:none;' id='latitude'></p>
					<p style='display:none;' id='longitude'></p>
				  	<div class="form-group col-xs-12">
				    	<input type="text" class="form-control " placeholder="Search Destination">
				  	</div>
				  	<br>
				  	<br>
				  	<input id="button" type="submit" class="btn btn-success"></button>
				  	<button id="button" type="submit" class="btn btn-success">Show More Ranks</button>



				  	<div id="map" class='col-xs-12'></div>



				</div>
			</form>		
		</div>

		<div class="col-xs-4 bg-primary">
			<div class="container">
				<h2>Ranks Near</h2>
				<div id="ranks-near">
				</div>
			</div>
		</div>

	</div>
</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<script>
	
	
	//alert('Latitude:'+document.getElementById('latitude').innerHTML)
    function initMap() {
	 			//alert(document.getElementById('latitude').innerHTML)
			  var myLatLng = {
			  					lat: parseFloat(document.getElementById('latitude').innerHTML),
			  					lng: parseFloat(document.getElementById('longitude').innerHTML)
			  				 };
			  //alert(JSON.stringify(myLatLng))
			  var map = new google.maps.Map(document.getElementById('map'), {
			    zoom: 15,
			    center: myLatLng
			  });

			  var marker = new google.maps.Marker({
			    position: myLatLng,
			    map: map,
			    title: 'Hello World!'
			  });
			}

    </script>
  <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsKNnCbz8sTyUC1_aPZsxN7iiGElykAS4&signed_in=false&callback=initMap"></script>
</body>
</html>
