<!DOCTYPE html>
<html>

<head>
<title>Get Me There Index</title>
<link rel="stylesheet" href="bootstrap.min.css">

</head>

<body>

	<form id="Search-form">
			<h2>Let's Get You There ...</h2>  
		  	<div class="form-group">
		    	<input type="text" class="form-control" placeholder="Search Destination">
		  	</div>
		  	<input id="button" type="submit" class="btn btn-success"></button><br> 

		  	<button id="button" type="submit" class="btn btn-success">Show More Ranks</button><br>
	</form>

<script src="jquery.min.js"></script>
<script src="bootstrap.min.js"></script>

<script>
	



</script>



</body>
</html>
