<html>
<head>
  <title>ranks</title>
<head>

<body>
 
    <form action="/ranks" method="post">
       <input type="text" name="name" placeholder="Cape Town" value="Cape Town" />
       <input type="text" name="name" placeholder=" mitchells plain" value="mitchells plain" />
       <input type="text" name="name" placeholder="Khayelitsha" value="Khayelitsha" />
       <input type="text" name="name" placeholder="Bellville" value="Bellville" />
       <input type="submit" name="submit" value="Submit"/>
    </form>
</body>
</html>