<!DOCTYPE html>
 <html>
 <head>
 
 </head>
 <body>

	<div>
	 <header><h1>getMeThere</h1></header>
	  <nav> 
		<a href="/ranks">ranks</a>
		<a href="/routes">routes</a>
	  </nav>	
	</div>

</body>
</html>