<html>
<head>
  <title>routes</title>
<head>

<body>
 
    <form action="/routes" method="post">
       <input type="text" name="rand_id"  value="rank_id" />
       <input type="text" name="destination" value="destination" />
       <input type="text" name="price" value="price" />
       <input type="submit" name="submit" value="Submit"/>
    </form>
</body>
</html>