<html>
<head>
<script type="text/javascript">
	
	navigator.geolocation.getCurrentPosition(function(location){

					 var locations = [
					 					{latitude:-34.0304775000,longitude:18.6194516000},
					 					{latitude:-33.9818910000,longitude:18.5061780000},
					 					{latitude:-33.898140,longitude:18.644073},
					 					{latitude:-33.928034,longitude:18.631403},
					 					{latitude:-34.003575,longitude:18.625772}
					 				];
					
					var randNum = Math.round(Math.random() * (5-1)+1);
					console.log('random :'+randNum);
					console.log('index:'+(randNum-1));
					var location = locations[randNum-1];
					document.getElementById('latitude').value = location.latitude;
					document.getElementById('longitude').value = location.longitude;
					
					console.log(location);
					
					
					document.getElementById('location').submit();
					

	})
	
</script>
</head>
<body>
<form id='location' action='/simulation' method="post">
	<input style='display:none' name='latitude' id='latitude'>
	<input style='display:none' name='longitude' id='longitude'>
</form>

</body>

</html>